[phases.setup]
nixPkgs = ['python310', 'pip']
aptPkgs = ['python3', 'python3-pip']

[phases.install]
cmds = ['pip3 install -r requirements.txt']

[phases.build]
cmds = ['echo "Build complete"']

[start]
cmd = 'python3 malaria_api_gradcam.py'